/* Header Style */

@media screen and (min-width: 1920px) {
      .header-headline-slider {
      font-size: 72px;
      line-height: 72px;
      }
      }
      .splide__container{
      position:relative;
      box-sizing:border-box
      }
      .splide__list{
      margin:0!important;
      padding:0!important;
      width:-webkit-max-content;
      width:max-content;
      will-change:transform
      }
      .splide__pagination li{
      list-style-type:none;
      display:inline-block;
      line-height:1;
      margin:0
      }
      .splide,.splide__slide{
      position:relative;
      outline:none
      }
      .splide__slide{
      box-sizing:border-box;
      list-style-type:none!important;
      margin:0;
      flex-shrink:0
      }
      .splide__slider{
      position:relative
      }
      .splide__track{
      position:relative;
      z-index:0;
      }
      .splide--draggable>.splide__track>.splide__list>.splide__slide{
      -webkit-user-select:none;
      user-select:none
      }