.carousel {
    margin-bottom: 4rem;
    /* height: 100vh; */
}

.small-img {
    height: 93vh;
    width: 100vh;
}

.container-extra{
    position: absolute;
    bottom: 15vh;
    left: 0;
    right: 0;
    /* background-color: antiquewhite; */
    /* padding-bottom: 50vh; */
    
    /* font-weight: bold; */
    /* font-size: 2rem !important; */
}

.carousel-item{
    /* height: 90vh; */
    /* background: #777; */
    color: white;
    position: relative;
}

/* .carousel-text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 300px 35px 0;
  border: 0 solid #000;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 4vw !important;
  line-height: 4vw !important;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
*/
.slider-link-style{
    text-decoration: none !important;
}
@media only screen and  (max-width: 688px) {

.slider-content-new-style{
    /* background-color: aqua !important; */
    margin-top: 10vh !important;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    position:relative; 
    /* left:20px;  */
    top:-20px;
}


    .primary-button-big {
    width: 75vw !important;
    /* text-align: center !important;  */
    font-size: 13px !important;
    padding: 5px 23px !important;
    }
    .slider-custom-style{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-caption-style{
    /* margin-top: 20px !important; */
    /* background-color: aqua !important; */
    
    /* position: relative !important; */
 
    display: inline-block !important;
    
    font-size: 30px !important;
    line-height: 30px !important;
    text-align: center !important;
    text-shadow: 2px;
      -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: rgb(90, 43, 43);
       text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}

.slider-main-button{
    /* line-height: 10px !important; */
    font-size: 1rem !important;
}
/* .carousel-content-style{

} */
.slider-content-style{
    margin-top: 50px !important;
    /* margin:  0 0 0 0 !important; */
    /* background-color: #000; */
}

} 

/* .small-device-style{
    font-size: 500px;
} */
.slider-main-button{
    /* line-height: 10px !important; */
    font-size: 1.3rem !important;
}


/* .sm-slider-title-style{
    text-shadow: 2px;
      -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: rgb(90, 43, 43);
       text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
} */